<mat-drawer-container class="example-container" (backdropClick)="close('backdrop')" autosize>

    <div id="perspective" class="perspective effect-airbnb modalview mob-container animate">
        <div class="main-wrapper">
            <div class="main-content">

                <header class="header-main bg-white style2 pt-2 bg-home">
                    <div class="row">
                        <div class="col-sm-4 text-left pos-top" (click)="drawer.open()">
                            <a class="menu-btn-top mt-0" id="sidebar-right" (click)="drawer.open()"><span></span></a>
                        </div>
                        <div class="col-sm-4 text-center pos-top" style="padding-top: 8px">
                            <a routerLink="/home" class="logo-main d-block mt-2 cat_link_menu"><img
                                    src="assets/images/Retro-Logo-3.png" width="120" height="89" alt="" /></a>
                        </div>
                        <div class="col-sm-4 text-right pos-top">
                            <a routerLink="/best-deals" class="cart-btn mt-1">
                                <!--  <img src="images/lang_icon.png" width="26" >  -->
                                <!-- <i class="ti ti-more-alt text-61"></i> -->
                                <i class="fa fa-gift text-61" title="Offers"></i>
                            </a>
                            <!-- (click)="openVerticallyCentered(content)" -->
                        </div>
                        <div class="col-sm-12 text-left pos-top">
                            <!-- <h2 class="titleText  mt-0 mb-0 ">
                            Discover Your Taste </h2> -->
                        </div>
                        <div class="col-sm-12 text-left mt-1 mb-2 pos-top">
                            <div class="form-content style1">

                                <input type="text" id="menu_search" class="form-control bg-white"
                                    placeholder=" Search..." [(ngModel)]="searchString" onfocus="value=''" value=""
                                    #searchTags />

                            </div>
                            <!-- <div id="search-title" class="item-header fw-600 text-white mt-2 mb-0"
                                *ngIf="searchResult" style="display: block">
                                <a href="/home" class="more-btn cat_link_menu text-white"><i
                                        class="ti-arrow-left"></i>
                                    back
                                    to home
                                </a>
                                <h5 class="search-result">Search Result</h5>
                            </div> -->
                        </div>
                    </div>
                </header>

                <div class="product-details" style="left: 0px; right: auto; transform: translate(0%, 0px);">

                    <div class="app-body single-item p-0 mt-50">
                        <!-- <a routerLink="/home" class="close-det" data-dismiss="modal">
                            <i class="ti-arrow-left"></i>
                            back
                        </a> -->
                        <div class="px-3" *ngIf="searchResult">
                            <app-search-products *ngIf="arrProducts.length" [products]="arrProducts">
                            </app-search-products>

                            <div class="text-center no-item" *ngIf="!arrProducts.length">
                                <i class="ti-face-sad"></i>
                                <br>
                                No Item Found
                                <br>With This Specification !
                            </div>

                        </div>

                        <div class="tijara-det-slide" *ngIf="!searchResult">
                            <ngx-slick-carousel class="no-arrow" #slickModal="slick-carousel"
                                [config]="bannerSlideConfig">
                                <div ngxSlickItem class="text-center gradient"
                                    *ngFor="let bannerImg of objProductDetails">
                                    <div class="sliding-logo-block pointer text-center">
                                        <a>
                                            <img class="mx-auto slideImg"
                                                [src]="bannerImg?.arrayOtherImages[0]?.imageUrl"
                                                (error)="errorImage($event)">
                                            <div class="bg-price price" *ngIf="objProductDetails[0]?.intDiscount">
                                                <!-- AED -->
                                                <span>
                                                    <i class="fa fa-tag"></i>
                                                    {{objProductDetails[0]?.intDiscount.toFixed(2)}}% off
                                                </span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </ngx-slick-carousel>
                        </div>
                    </div>
                    <div class="app-body single-item pr-4 pl-4 pt-0" *ngIf="!searchResult">
                        <div class="row">
                            <div class="col-sm-12 mb-0 content-div text-center">
                                <span class="tag"> {{objProductDetails[0]?.strCategoryName}}</span>
                                <h4 class="item-title ">
                                    {{objProductDetails[0]?.strProductName}}
                                </h4>
                                <h5 class="item-price">

                                </h5>
                                <!-- <a href="https://api.whatsapp.com/send?phone=918589049648"
                                    class="btn btn-round btn-success mr-1 mb-0 mt-1">
                                    <i class="f18 text-white fa fa-whatsapp mr-1"></i>
                                    WhatsApp Enquiry
                                </a> -->

                                <hr>
                                &nbsp;

                                <div style="margin-top : 10px;"
                                    *ngIf="objProductDetails[0]?.blnPriceVariation && (objProductDetails[0]?.blnPriceVariation == 'true' || objProductDetails[0]?.blnPriceVariation == true)">

                                    <div class="product var-det text-left" style="margin-top: 10px;"
                                        *ngFor="let item of objProductDetails[0]?.arrayAddOnPriceDetails; let j = index;">

                                        <span class="var-det-name ">
                                            <span>{{item?.size}}</span>
                                        </span>
                                        <span class="mt-2">

                                            <span class=" var-det-price ml-2">AED
                                                {{(objProductDetails[0]?.intSellingPrice +
                                                item?.price).toFixed(2)}}
                                            </span>
                                            <del
                                                *ngIf="objProductDetails[0]?.intMRP > objProductDetails[0]?.intSellingPrice">
                                                <span class="var-det-price-red">AED
                                                    {{(objProductDetails[0]?.intMRP +
                                                    item?.price).toFixed(2)}}
                                                </span>
                                            </del>
                                            <!-- <span class="product-quantity" *ngIf="objVariationItemCount[item?.size]">
                                                Qty : {{objVariationItemCount[item?.size]}}
                                            </span> -->
                                        </span>
                                        <span
                                            *ngIf="(objProductDetails[0]?.blnStockAvailability ==  false || objProductDetails[0]?.blnStockAvailability == 'false')"
                                            class=" pull-right var-cart tiny bId27 btn  btn-outline-danger mr-1 mb-0">
                                            <i class=" ti-face-sad mr-1"></i>
                                            N / A
                                        </span>

                                        <!-- <span class="product-quantity" *ngIf="objVariationItemCount[item?.size]">
                                            Qty : {{objVariationItemCount[item?.size]}}
                                        </span> -->


                                        <button
                                            *ngIf="(objProductDetails[0]?.blnStockAvailability ==  true || objProductDetails[0]?.blnStockAvailability == 'true') && !objVariationItemCount[item?.size]"
                                            class="add-to-cart pull-right var-cart tiny bId27 btn btn-success mr-1 mb-0"
                                            (click)="addToCartFn(item?.price, item?.size)">
                                            <i class="text-white ti-plus mr-1"></i>
                                            Add
                                        </button>

                                        <div class=" text-center mt-2" *ngIf="objVariationItemCount[item?.size]">
                                            <div class="quantity-numbers text-center">
                                                <div class="p-1 align-content:center pointer">
                                                    <i class="ti-minus"
                                                        (click)="decrementCartFn(item?.price, item?.size)"
                                                        style="size: 75%; border: 2px solid; border-radius: 5px; color:#f05d5d ; font-size: 20px;"></i>
                                                </div>
                                                <div class="px-1 align-content:center">
                                                    <span class="float-right"
                                                        style="color: #71103b; font-size: 20px;">{{objVariationItemCount[item?.size]}}</span>
                                                </div>
                                                <div class="p-1 align-content:center pointer">
                                                    <i class="ti-plus" (click)="addToCartFn(item?.price, item?.size)"
                                                        style="border: 2px solid; border-radius: 5px; color: #08cf08; font-size: 20px;"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div style="margin-top: 10px;"
                                    *ngIf="(!objProductDetails[0]?.blnPriceVariation || (objProductDetails[0]?.blnPriceVariation && (objProductDetails[0]?.blnPriceVariation ==  false || objProductDetails[0]?.blnPriceVariation == 'false')))">

                                    <div class="product var-det" style="margin-top : 10px;">

                                        <span class="mt-2">

                                            <span class=" var-det-price ml-2">AED
                                                {{objProductDetails[0]?.intSellingPrice.toFixed(2)}}
                                            </span>
                                            <del
                                                *ngIf="objProductDetails[0]?.intMRP > objProductDetails[0]?.intSellingPrice">
                                                <span class="var-det-price-red">AED
                                                    {{objProductDetails[0]?.intMRP.toFixed(2)}}
                                                </span>
                                            </del>
                                            <!-- <span class="product-quantity" *ngIf="intItemCount">
                                                Qty : {{intItemCount}}
                                            </span> -->
                                        </span>
                                        <span
                                            *ngIf="(objProductDetails[0]?.blnStockAvailability ==  false || objProductDetails[0]?.blnStockAvailability == 'false')"
                                            class=" pull-right var-cart tiny bId27 btn  btn-outline-danger mr-1 mb-0">
                                            <i class=" ti-face-sad mr-1"></i>
                                            N / A
                                        </span>

                                        <!-- <span class="product-quantity" *ngIf="intItemCount">
                                            Qty : {{intItemCount}}
                                        </span> -->

                                        <button
                                            *ngIf="(objProductDetails[0]?.blnStockAvailability ==  true || objProductDetails[0]?.blnStockAvailability == 'true') && !intItemCount"
                                            class="add-to-cart pull-right var-cart tiny bId27 btn  btn-success mr-1 mb-0"
                                            (click)="addToCartFn(0, '')">
                                            <i class="text-white ti-plus mr-1"></i>
                                            Add
                                        </button>

                                        <div class=" text-center mt-2" *ngIf="intItemCount">
                                            <div class="quantity-numbers text-center">
                                                <div class="p-1 align-content:center pointer">
                                                    <i class="ti-minus" (click)="decrementCartFn(0, '')"
                                                        style="size: 75%; border: 2px solid; border-radius: 5px; color:#f05d5d ; font-size: 20px;"></i>
                                                </div>
                                                <div class="px-1 align-content:center">
                                                    <span class="float-right"
                                                        style="color: #71103b; font-size: 20px;">{{intItemCount}}</span>
                                                </div>
                                                <div class="p-1 align-content:center pointer">
                                                    <i class="ti-plus" (click)="addToCartFn(0, '')"
                                                        style="border: 2px solid; border-radius: 5px; color: #08cf08; font-size: 20px;"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 mt-2 content-div ">
                                <span class="item-subtitle desc-title mb-2 mt-2 fw-600 ">
                                    Description </span>
                                <div class="clearfix"></div>
                                <div class=" ">
                                    <p class="">
                                        {{objProductDetails[0]?.strDescription}}
                                    </p>
                                </div>
                                <!-- <hr>
                    <span class="item-subtitle mb-3 mt-2 fw-600">Related Products</span>

                    <a href="#" class="bg-red-gradiant fw-600 mt-2 next-tour btn btn-lg text-center w-100 text-white"><i class="ti-shopping-cart mr-2"></i>Add to order</a> -->

                            </div>
                        </div>
                    </div>
                    <div class="static-content">
                        <!-- <div class="one">
                            <img src="assets/images/non_toxic.png" class="pr-1" width="50" height="50" alt="">
                            <p class="">Chemical Free</p>
                        </div>
                        <div class="two">
                            <img src="assets/images/fresh.png" class="pr-1" width="50" height="50" alt="">
                            <p class="">Fresh</p>
                        </div>
                        <div class="three">
                            <img src="assets/images/hygiene.png" class="pr-1" width="50" height="50" alt="">
                            <p class="">Hygiene</p>
                        </div> -->
                        <img src="assets/images/logos jpg.jpg" alt="">
                    </div>
                </div>

            </div>
            <nav class="navigation style7 style1" *ngIf="!searchResult">
                <div class="modal-bottom fixed-bottom cart-det ">
                    <div class="modal-footer-1">
                        <a class="shopping-cart cart-count mt-1 nav-content-bttn nav-center showDetCartInfo"
                            (click)="onClickNavigateCart()">
                            <i class="ti-shopping-cart-full cart-b"></i>
                            <!-- <span id="detCartStat">
                        5
                    </span> -->
                            <!-- <span class="badge rounded-pill badge-cart" *ngIf="intCartItemCount > 0">{{ intCartItemCount }}
                        </span> -->
                        </a>
                        <a class="cart-item-count" *ngIf="intCartItemCount > 0">
                            <div class="text-white">
                                {{ intCartItemCount }} <span class="item-word" *ngIf="intCartItemCount > 1">items</span>
                                <span class="item-word" *ngIf="intCartItemCount == 1">item</span>
                            </div>
                        </a>
                    </div>

                    <div class="modal-footer-2">
                        <a class="showDetCartInfo" (click)="onClickNavigateCart()">

                            <div class="text-white">
                                <!-- &nbsp; &nbsp; -->
                                <!-- <i class="ti-direction"></i> -->
                                &nbsp; &nbsp;
                                <span class="total-cart">Cart Total</span> :
                                AED
                                <span class="detCartTotal">
                                    {{intSubTotal.toFixed(2)}}
                                </span>
                                &nbsp; &nbsp;
                            </div>

                        </a>
                    </div>

                    <div class="modal-footer-3">
                        <a class="view-cart" (click)="onClickNavigateCart()">
                            <div class="text-white">
                                view cart &nbsp; <i class="ti-angle-right angle-right"></i>
                            </div>
                        </a>
                    </div>

                </div>
            </nav>
        </div>

    </div>

    <ngx-spinner bdColor="rgba(213,208,208,0.8)" size="medium" color="#fff"></ngx-spinner>

    <div id="desktop-view">
        <div class="container" style="flex-direction: column;">
            <div class="divider" style="border-color: rgb(74, 65, 42);"></div>
            <div style="text-align: right; margin-right :30px">
                <img src="assets/images/Retro-Logo.png" width="250">
            </div>
        </div>
    </div>

    <mat-drawer #drawer class="example-sidenav" mode="over" (keydown.escape)="close('escape')" disableClose>

        <nav class="outer-nav left vertical ">
            <header class="bg-tranparent style2 pt-3 bg-home">
                <div class="row">
                    <!-- <div class="col-sm-4 text-left pos-top">
                        <a class="menu-btn mt-0" id="close-sidebar" (click)="close('toggle button')"></a>
                    </div> -->
                    <div class="col-sm-12 text-center pos-top">
                        <a routerLink="/home" class="logo d-block mt-1"><img src="assets/images/Retro-Logo.png" class=""
                                width="150" height="100"></a>
                    </div>
                </div>

            </header>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav-item ">

                        <li>
                            <a routerLink="/home" class=" cat_link_menu"><i class="ti-home"></i>
                                Home
                            </a>
                        </li>

                        <!-- <li>
                        <a href="best" class=" spl_link_menu">
                            <i class="ti-face-smile"></i>
                            Popular
                        </a>
                    </li>

                    <li>
                        <a href="special" class=" spl_link_menu">
                            <i class="ti-star"></i>
                            Featured
                        </a>
                    </li> -->

                        <li>
                            <a routerLink="/categories" class="allCat">
                                <i class="ti-view-list "></i>
                                Categories
                            </a>
                        </li>

                        <li>
                            <a routerLink="/best-deals" class="allCat">
                                <i class="fa fa-gift "></i>
                                Offers
                            </a>
                        </li>

                        <li>
                            <a routerLink="/my-orders" class="myOrder">
                                <i class="ti-bag "></i>
                                My Orders
                            </a>
                        </li>

                        <li>
                            <a routerLink="/cart" class="myOrder">
                                <i class="ti-shopping-cart-full "></i>
                                My Cart
                            </a>
                        </li>

                        <li>
                            <a href="tel:+91 8589 0496 48" class="nav-content-bttn">
                                <i class="ti-mobile"></i>
                                Call Us
                            </a>
                        </li>

                        <li>
                            <a href="https://www.google.com/maps?q=Ras+Al+khor+3+Dubai+U.A.E&amp;rlz=1C1RXQR_enIN928IN928&amp;um=1&amp;ie=UTF-8&amp;sa=X&amp;ved=2ahUKEwiN8I3--ovvAhWTILcAHbiTDmEQ_AUoAXoECAUQAw"
                                class=" nav-content-bttn">
                                <i class="ti-location-pin"></i>
                                Location
                            </a>
                        </li>

                        <li>
                            <a href="https://api.whatsapp.com/send?phone=918589049648" class="nav-content-bttn"
                                data-tab="favorites">
                                <i class="fa fa-whatsapp "></i>
                                Whatsapp
                            </a>
                        </li>

                        <!-- <li>
                        <a href="#" class="feedbackNav">
                            <i class="ti-comment-alt"></i>
                            Feedback
                        </a>
                    </li> -->

                        <li>
                            <a routerLink="#" class="xxxshowstoreInfo">
                                <i class="ti-layout-media-center-alt "></i>
                                About Us
                            </a>
                        </li>



                        <!-- <li>
                            <a href="#">
                                <i class="ti-info-alt"></i>
                                The Retro Online
                            </a>
                        </li> -->

                    </ul>
                </div>
            </div>

        </nav>

        <!-- <hr class="line-1"> -->

        <div class="version-logo p-3 text-center">
            <img src="assets/images/logo-tijara.png" width="100" height="70" alt="">
            <p class="version">v1.1.0.0</p>
        </div>

        <!-- <hr class="line-1"> -->

    </mat-drawer>


    <ng-template #content let-modal>
        <!-- <div class="modal fade action-sheet show" style="display: block;"> -->
        <div class="modal-header text-center d-block">
            <h5 class="modal-title text-center ">
                Choose Language
            </h5>
        </div>
        <div class="modal-body">
            <ul class="action-button-list  text-center">
                <li>
                    <a href="language-switch?lang=en" class="btn btn-list text-primary">
                        <span><i class="ti-align-right"></i>English</span>
                    </a>
                </li>
                <li>
                    <a href="language-switch?lang=ar" class="btn btn-list ar">
                        <span><i class="ti-align-right"></i>اللغة العربية</span>
                    </a>
                </li>

                <li class="action-divider"></li>
                <li class="pb-1">
                    <a class="btn btn-list text-danger " data-dismiss="modal" (click)="modal.close('Close click')">
                        <span>
                            <i class="ti-info-alt"></i> Close
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- <div class="modal-footer">
        <button type="button" class="btn btn-light" >
            Close
        </button>
    </div> -->
        <!-- </div> -->
    </ng-template>

</mat-drawer-container>