.effect-airbnb .main-wrapper {
  background: #fff;
  min-height: 100%;
  position: relative;
  outline: 1px solid rgba(0, 0, 0, 0);
  z-index: 10;
  // -webkit-transform: translateZ(0) translateX(0) rotateY(0deg);
  // transform: translateZ(0) translateX(0) rotateY(0deg);
}
.effect-airbnb.animate .main-wrapper {
  // -webkit-transform: translateZ(-500px) translateX(100%) rotateY(-45deg);
  // transform: translateZ(-500px) translateX(50%) rotateY(-45deg);
  overflow-y: hidden;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
}
.effect-airbnb .main-wrapper {
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.modalview .main-wrapper {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.perspective {
  background: linear-gradient(180deg, #ff000a 0%, #ff5722 100%);
  position: relative;
}
.perspective.modalview {
  position: fixed;
  -webkit-perspective: 1500px;
  perspective: 1500px;
}
.effect-airbnb .main-wrapper {
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.effect-airbnb .main-wrapper {
  background: #fff;
  min-height: 100%;
  position: absolute;
  outline: 1px solid rgba(0, 0, 0, 0);
  z-index: 10;
  -webkit-transform: translateZ(0) translateX(0) rotateY(0deg);
  transform: translateZ(0) translateX(0) rotateY(0deg);
}
.main-wrapper {
  flex-direction: column;
  display: flex;
  font-family: Montserrat, sans-serif;
}
.main-wrapper .main-content {
  order: 1;
  position: relative;
  height: calc(100vh - 10px);
  overflow-x: hidden;
  overflow-y: auto;
}
#desktop-view {
  background: rgba(41, 41, 41, 0.301);
}
#desktop-view img {
  vertical-align: middle;
  border-style: none;
}
nav {
  display: block;
}
.main-wrapper .navigation {
  box-shadow: 0 8px 30px rgb(0 0 0 / 30%);
  position: sticky;
  order: 2;
  z-index: 2;
}
.main-wrapper .navigation .nav-content {
  background: #fff;
}
.main-wrapper .navigation .nav-content ul {
  padding: 0;
  margin: 0;
  flex-grow: 1;
  justify-content: space-between;
  padding-left: 0;
  list-style: none;
  display: flex;
}
.main-wrapper .navigation .nav-content ul li:not(.logo) {
  list-style-image: none;
  list-style-type: none;
}
.main-wrapper .navigation.style7 .nav-content ul li > a {
  padding: 9px 20px;
}
.main-wrapper .navigation.style7 .nav-content ul li > a {
  font-size: 8px;
  color: #222;
}
.main-wrapper .navigation .nav-content ul li:not(.logo) a {
  display: block;
  text-align: center;
  // padding: 15px 20px;
  position: relative;
}
.main-wrapper .navigation.style7 .nav-content ul li > a i {
  display: block;
  margin-bottom: 7px;
}

.main-wrapper .navigation.style1 .nav-content ul li > a i {
  font-size: 25px;
}
.main-wrapper .navigation .nav-content ul li:not(.logo) a i {
  // font-size: 26px;
  // color: #fff;
  top: 3px;
  position: relative;
  color: #585858;
}
.main-wrapper .navigation.style7 .nav-content ul li > a.nav-center {
  background-color: orange;
  border-radius: 30px;
  position: relative;
  top: 0px;
  padding: 12px 15px;
  z-index: 10;
}
.main-wrapper .navigation.style7 .nav-content ul li > a.nav-center i {
  color: #fff;
}
.main-wrapper .navigation.style7 .nav-content ul li > a:hover,
.main-wrapper .navigation.style7 .nav-content ul li > a:focus {
  outline: none;
  text-decoration: none;
}
.main-wrapper .main-content::-webkit-scrollbar {
  width: 8px !important;
  background-color: #f7f3ec;
}
.main-wrapper .main-content::-webkit-scrollbar-thumb {
  background-color: #D9531E !important;
  width: 8px !important;
  border-radius: 10px;
}
.loader.loaded .app-body {
  visibility: visible;
  overflow: visible;
  height: 100%;
  background: #fff;
}
.loader .app-body {
  padding: 0px 0px 15px !important;
}
.col-sm-4 {
  flex: 0 0 33.3%;
  max-width: 33.3%;
  width: 33.3%;
  float: left;
}
mat-drawer-container {
  height: 100vh;
}
.example-sidenav {
  width: 280px;
  background-color: #fbbc31;
}
@media only screen and (max-width: 320px) {
  .example-sidenav {
    width: 240px;
    background-color: #fbbc31;
  }
}
.outer-nav.vertical {
  // top: 50%;
  // // -webkit-transform: translateY(-50%);
  // // transform: translateY(-50%);
  // -webkit-transform-style: preserve-3d;
  // transform-style: preserve-3d;
  font-size: 1.2em;
  width: 100%;
  display: flex;
}
.outer-nav.vertical .nav-item {
  width: 100%;
  // position: absolute;
  // height: 100vh;
  overflow: hidden;
  padding-top: 150px;
  padding-bottom: 20px;
  padding-left: 20px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.outer-nav.vertical .nav-item li {
  list-style-type: none;
  list-style-image: none;
}
.outer-nav.vertical .nav-item li a {
  font-size: 16px;
  color: #fff;
  padding: 15px 0;
  display: block;
  font-weight: 400;
  transform: translateX(0) translateY(0);
  transition: transform 0.5s ease-in-out;
}
.outer-nav.vertical .nav-item li a:hover {
  transform: translateX(10px);
  color: #ff5100;
  font-weight: 600;
}
.outer-nav.vertical .nav-item li a i {
  font-size: 15px;
  margin-right: 15px;
}
.outer-nav.vertical header {
  position: absolute;
  padding: 0 15px 15px;
  width: 100%;
  top: 0;
  left: 0;
  // margin-top: 8px !important;
}

// .bg-tranparent {
//   background: transparent !important;
// }
.bg-tranparent {
  background: #fff !important;
}
.pos-top {
  z-index: 2;
  position: relative;
}
.outer-nav.vertical .menu-btn {
  position: relative;
  display: inline-block;
}
.outer-nav.vertical .menu-btn:before {
  width: 25px;
  height: 2px;
  background-color: #fff;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  transform: rotate(45deg);
  display: inline-block;
}
.outer-nav.vertical .menu-btn:after {
  width: 25px;
  height: 2px;
  background-color: #fff;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  transform: rotate(-45deg);
  display: inline-block;
}
.outer-nav img {
  vertical-align: middle;
  border-style: none;
}
#container-floating {
  position: fixed;
  width: 55px;
  height: 55px;
  bottom: 70px;
  right: 30px;
  // z-index: 50px;
  z-index: 100;
}
#floating-button {
  width: 45px;
  height: 45px;
  border-radius: 5%;
  background: #ff0017b8;
  position: fixed;
  bottom: 85px;
  right: 30px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #666;
}
.plus {
  color: white;
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 40px;
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 300;
  animation: plus-out 0.3s;
  transition: all 0.3s;
}
#container-floating.is-opened .plus {
  animation: plus-in 0.15s linear;
  animation-fill-mode: forwards;
}
@keyframes plus-in {
  from {
    opacity: 1;
    transform: rotateZ(0deg);
  }
  to {
    opacity: 1;
    transform: rotateZ(180deg);
  }
}

@media screen and (min-width: 1000px) {
  .mob-container {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 500px !important;
    // position: relative;
    // margin-right: 0 auto;
    box-shadow: 4px 0px 18px 4px #8e8822;
  }
  #desktop-view {
    width: 100%;
    height: 100vh;
    z-index: 1;
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-left: 1px transparent solid;
    // background-color: rgb(240, 235, 141);
    background-color: #ffffff;
  }
  .outer-nav.vertical .nav-item {
    padding-top: 150px;
    overflow: visible;
  }
}
@media screen and (min-width: 1400px) {
  .outer-nav.vertical .nav-item {
    padding-top: 220px;
    overflow: visible;
  }
}
@media screen and (max-width: 575px) {
  .outer-nav.vertical .nav-item {
    padding-top: 180px;
    overflow: visible;
  }
}

//navbar
header.header-main {
  // background: #377d51 !important;
  background: #fbbc31 !important;
  /*  background: url(images/bg.jpg) no-repeat !important;*/
  margin: 0px;
  padding: 15px;
  padding-bottom: 10px;
  border-radius: 0;
  border-bottom: 1px dashed #fff;
}
header {
  // background: #377d51 !important;
  background: #fbbc31 !important;
  /*  background: url(images/bg.jpg) no-repeat !important;*/
  margin: 0px;
  padding: 15px;
  padding-bottom: 10px;
  border-radius: 0;
  // border-bottom: 1px dashed #fff;
}
.pos-top {
  z-index: 2;
  position: relative;
}
header.style2 .menu-btn-top {
  width: 25px;
  height: 30px;
  position: relative;
  top: -4px;
}
header .menu-btn-top {
  display: inline-block;
}
header.style2 .menu-btn-top:before {
  background-color: #fff;
  top: 10px;
}
header .menu-btn-top:before {
  // width: 20px;
  width: 25px;
  height: 2px;
  // background-color: #fff;
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: inline-block;
}
header.style2 .menu-btn-top:after {
  background-color: #fff;
  bottom: 0;
  top: auto;
  // width: 12px;
  width: 25px;
}
header .menu-btn-top:after {
  // width: 100%;
  height: 2px;
  // background-color: #fff;
  content: "";
  position: absolute;
  // top: 0px;
  left: 0px;
  display: inline-block;
}
header.style2 .menu-btn-top span {
  width: 25px;
  height: 2px;
  background-color: #fff;
  display: inline-block;
  top: 4px;
  position: relative;
}
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}
a:hover {
  color: #0056b3;
  // text-decoration: underline;
}
header .logo-main img {
  margin-left: -30px;
  // width: 160px;
  display: inline-block;
  margin-bottom: 5px;
}
header .cart-btn {
  display: inline-block;
}
header .cart-btn i {
  font-size: 28px;
  // color: #000;
}
.text-61 {
  color: #fff !important;
}
header.bg-home:after {
  background-image: none;
}
header.bg-home:after {
  content: "";
  // background-image: url(images/shop-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.form-content.style1 {
  position: relative;
  bottom: 0px;
}
input#menu_search {
  border: 1px solid #84817f1a;
}
header.style2 input {
  box-shadow: none;
}
.form-content input {
  line-height: 55px;
  height: 55px;
  padding: 0 20px;
  display: inline-block;
  font-size: 13px;
  color: #0c0c0d;
  font-family: "Montserrat", sans-serif;
}
.form-content .bg-white {
  background-color: #fff !important;
}
.form-content.style1 :after {
  color: #aaa;
}
.form-content:before {
  content: "î˜";
  font-family: "themify";
  // color: #390ad3;
  font-size: 16px;
  position: absolute;
  left: 17px;
  top: 17px;
  opacity: 0.8;
}
.form-content input[type="text"]::placeholder {
  text-indent: 15px;
}
.form-content input[type="text"] {
  text-indent: 19px;
}
.col-25 {
  position: relative;
  left: 10px;
  float: left;
  width: 37%;
}
.col-75 {
  float: left;
  width: 63%;
}
.app-body {
  visibility: visible;
  overflow: visible;
  height: 100%;
  background: #fff;
}
a.close-det {
  padding: 4px 20px 6px 10px;
  border-radius: 0 20px 20px 0;
  border: 1.6px dashed #fff;
}
a.close-det {
  font-size: 14px;
  color: #fff;
  background: rgb(0 0 0 / 90%);
  position: absolute;
  display: block;
  top: 10px;
  left: -2px;
  z-index: 999999;
  opacity: 0.8;
  text-align: center;
  box-shadow: 4px 4px 5px 0.2px #0000009c;
}
.single-item .content-div .tag {
  font-size: 9px;
  font-weight: 500;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
.tag {
  border-radius: 20px;
  line-height: 22px;
  display: inline-block;
  padding: 0 15px;
}
.sliding-logo-block .price {
  position: absolute;
  top: 8px;
  left: 8px;
  // border-radius: 4px 0px 19px 0px;
  margin: 0px;
  // border-radius: 8px;
  z-index: 1;
  height: 35px;
  /* width: 40px; */
  line-height: 28px;
  text-align: center;
}
.price {
  padding: 0 5px 0 5px;
}
.price {
  font-size: 14px;
  font-family: inherit;
  color: #000;
  font-weight: 400;
  // padding: 0 10px;
}
.price span {
  display: inline-block;
  font-size: 14px;
  font-family: inherit;
  color: #fff;
  font-weight: 600;
}
.bg-price {
  background-color: rgb(50 205 50) !important;
}
.sliding-logo-block span {
  margin-top: 3px;
}
.single-item .content-div .item-title {
  font-size: 22px;
  margin-top: 6px;
  margin-bottom: 7px;
  font-weight: 700;
  color: #111;
  letter-spacing: 0;
}
.single-item .content-div .item-price {
  font-size: 24px;
  font-weight: 500;
  color: #aaa;
}
.btn-round {
  border-radius: 100px;
}
.btn {
  font-size: 13px;
  font-weight: 400;
  // padding: 8px 20px;
}
.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  display: flex;
  flex-wrap: nowrap;
  // width: 100%;
  // max-width: 200px;
}
.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430;
}
.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}
.btn:hover {
  //   color: #212529;
  text-decoration: none;
}
.btn i {
  width: auto !important;
  background-color: transparent !important;
  height: auto !important;
  line-height: 1 !important;
  position: relative;
  top: 2px;
}
.f18 {
  font-size: 18px !important;
  text-transform: capitalize;
}
.var-det {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 6px;
}
.var-det-name {
  display: block;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 1px;
  padding-top: 15px;
}
.var-det-price {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin-top: 20px;
}

.var-det-price-red {
  font-size: 14px;
  font-weight: 600;
  color: #b3b3b3;
}
.red-color {
  color: red !important;
  font-size: 18px;
  font-weight: 600;
}
.var-cart {
  margin-left: 5px !important;
  // margin-top: -15px !important;
}
@media screen and (max-width: 350px) {
  .var-cart {
    margin-top: 15px;
  }
}
.btn-outline-danger {
  color: #dc3545;
  border-color: #dc3545;
}
.btn-outline-danger:hover {
  background-color: #dc3545;
  color: #fff;
}
.red-color {
  color: red !important;
}
small {
  font-size: 65%;
}
// .var-cart {
//   margin: -12px 0 0 0 !important;
// }
.pull-right {
  float: right;
}
.single-item .content-div .item-subtitle {
  display: block;
}
.desc-title {
  font-size: 20px !important;
  color: #111 !important;
}
//carousel

.gradient {
  background: -webkit-linear-gradient(
    to bottom,
    #ffffff 0%,
    #e3e1e1 50%,
    #fff 100%
  );
  background: -moz-linear-gradient(
    to bottom,
    #ffffff 0%,
    #e3e1e1 50%,
    #fff 100%
  );
  background: linear-gradient(to bottom, #ffffff 0%, #e3e1e1 50%, #fff 100%);
}
.slideImg {
  width: 100%;
  height: 350px;
}

//Footer

.cart-det {
  border: none;
}
.cart-det {
  background: #28a745;
}
.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}
.modal-bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.modal-footer-1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.modal-footer-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.modal-footer-3{
  align-items: center;
}
.modal-footer > * {
  margin: 0.25rem;
}
.cart-det i {
  font-size: 25px;
  color: #fff;
}
.detCartTotal {
  font-size: 22px;
  font-weight: 600;
}
.cart-item-count {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}
.item-word {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}
.cart-count span {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: #026d06;
  position: absolute;
  top: -10px;
  // right: 85px;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  line-height: 25px;
  color: #fff;
}
span.total-cart {
  font-size: 16px;
}
.view-cart {
  font-size: 16px;
  color: #fff;
}
.view-cart i.angle-right {
  font-size: 12px;
}
@media screen and (min-width: 1000px) {
  .cart-det {
    max-width: 500px;
    border-radius: 15px;
    padding: 7px 10px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 999px) {
  .cart-det {
    background: #28a745;
    border-radius: 15px;
    padding: 7px 10px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }
}
a:hover {
  outline: none;
  text-decoration: none;
}
.fw-600 {
  font-weight: 600 !important;
}
.text-white {
  color: #fff !important;
}
.item-header .more-btn i {
  font-size: 11px;
}
.item-header .more-btn {
  float: right;
  font-size: 12px;
  font-weight: 400;
  // color: #000;
  margin-top: 1px;
  line-height: 15px;
  font-family: inherit;
}
.search-result {
  color: #fff;
}
.no-item {
  padding: 25px 0 0 0;
}
.no-item i {
  font-size: 50px;
}
.static-content {
  // background: rgb(182, 252, 154);
  // display: flex;
  // flex-wrap: nowrap;
  text-align: center;
  justify-content: center;
  padding: 10px 10px;
  margin-bottom: calc(30px + 43.5px);
  // box-shadow: 2px 8px 20px rgb(182 252 154 / 90%);
}
.static-content img {
  width: 100%;
  max-width: 500px;
  height: 70px;
}
.static-content .one,
.two,
.three {
  // display: flex;
  // flex-wrap: wrap;
  width: 33.33%;
  padding: 5px;
  justify-content: center;
}
.static-content .one p,
.two p,
.three p {
  color: rgb(17, 196, 1);
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 2px;
  margin-top: 15px;
  line-height: 15px;
}
.product-quantity {
  font-size: 20px;
  color: #026d06;
  font-weight: 600;
  padding: 0 10px;
}
.version {
  padding-top: 10px;
  font-size: 12px;
  color: #000;
}
.line-1 {
  border-bottom: 10px solid #fff;
}
.version-logo {
  background-color: #fff;
}
.quantity-numbers {
  display: inline-flex;
}
@media only screen and (max-width: 374px) {
  .static-content {
    margin-bottom: calc(30px + 53px);
  }
}

