<div class="loader loaded">
    <div id="perspective" class="perspective effect-airbnb modalview mob-container animate">
        <div class="main-wrapper">
            <div class="main-content">
                <div class="modal-header fixed-top">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        <b>Checkout</b>
                    </h5>
                    <a href="/home" class="more-btn blackbtn">
                        <i class="ti-arrow-left"></i>
                        back to home
                    </a>
                </div>
                <div class="checkout-body">
                    <div class="app-body single-item p-0 mt-50 form-wrap">
                        <div class="col-sm-12">
                            <div class="text-left pos-top">
                                <!-- <h4 class="titleText text-left mt-4 mb-2 text-center"><strong>My Cart</strong></h4> -->
                            </div>
                            <div class="">
                                <div class="pt-4">
                                    <div class="bs-stepper modal-safety-padding linear">
                                        <div class="bs-stepper-header" role="tablist">
                                            <!-- your steps here -->
                                            <div class="step" data-target="#logins-part">
                                                <button type="button" class="step-trigger" role="tab"
                                                    aria-controls="logins-part" id="logins-part-trigger"
                                                    aria-selected="true">
                                                    <span class="bs-stepper-circle">1</span>
                                                    <!--     <span class="bs-stepper-label" >Cart</span> -->
                                                </button>
                                            </div>
                                            <div class="line"></div>
                                            <div class="step" data-target="#coupon-part">
                                                <button type="button" class="step-trigger" role="tab"
                                                    aria-controls="coupon-part" id="coupon-part-trigger"
                                                    aria-selected="false" disabled="disabled">
                                                    <span class="bs-stepper-circle">2</span>
                                                    <!--  <span class="bs-stepper-label">Confirm </span> -->
                                                </button>
                                            </div>
                                            <div class="line"></div>
                                            <div class="step" data-target="#information-part">
                                                <button type="button" class="step-trigger" role="tab"
                                                    aria-controls="information-part" id="information-part-trigger"
                                                    aria-selected="false" disabled="disabled">
                                                    <span class="bs-stepper-circle">3</span>
                                                    <!-- <span class="bs-stepper-label">Checkout </span> -->
                                                </button>
                                            </div>
                                            <div class="line"></div>
                                            <div class="step active" data-target="#final">
                                                <button type="button" class="step-trigger" role="tab"
                                                    aria-controls="final" id="final-trigger" aria-selected="false"
                                                    disabled="disabled">
                                                    <span class="bs-stepper-circle"><i class="ti-check"></i></span>
                                                    <!-- <span class="bs-stepper-circle">4</span> -->
                                                    <!--   <span class="bs-stepper-label">Enjoy </span> -->
                                                </button>
                                            </div>
                                        </div>
                                        <div class="bs-stepper-content">
                                            <div id="final" class="content fade active dstepper-block" role="tabpanel"
                                                aria-labelledby="final-trigger">
                                                <div id="orderCompletionStatus">
                                                    <div class="card-body pt-5 text-center thank-wrapper ">
                                                        <i class="ti-check bg-success text-white"></i>
                                                        <h2 class="order-success-head mt-4 mb-4">Thank you for your Order</h2>
                                                        <p class="order-success-desc pr-4 pl-4">Thank you for your order, Order Placed
                                                            Successfully.
                                                        </p>
                                                        <!-- <a href="https://api.whatsapp.com/send?phone=971563480466&amp"
                                                            target="_blank"
                                                            class="btn-success fw-600 mt-4 next-tour btn btn-lg text-center w-100 text-white">
                                                            <i class="fa fa-whatsapp mr-2"></i> 
                                                            Forward Order On Whatsapp
                                                        </a> -->
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="desktop-view">
    <div class="container" style="flex-direction: column;">
        <div class="divider" style="border-color: rgb(74, 65, 42);"></div>
        <div style="text-align: right; margin-right :30px">
            <img src="assets/images/Retro-Logo.png" width="250">
        </div>
    </div>
</div>