<div class="feedback-page">
    <div class="modal-header fixed-top">
        <h5 class="modal-title" id="exampleModalLongTitle"><b>Feedback</b></h5>
        <a href="#" class="more-btn blackbtn" data-dismiss="modal"><i class="ti-arrow-left"></i> back to home </a>
    </div>
    <div class="modal-body">
        <div class="app-body single-item p-0 mt-50">


            <form action="" method="post" id="addFeedback">
                <input name="feedback_type" type="hidden" class="" value="">

                <div class="col-md-12 qblock">
                    <label><span class="questions">1. Is This Your First Visit ? </span>
                        <small id="validVisitStat" class="form-control-feedback"></small>
                    </label>

                    <div class="clearfix"></div>
                    <label class="custom-control custom-radio wimg cst-ctrl">
                        <input id="vsrad1" name="visit_stat" type="radio" class="" value="0">
                        <img src="assets/images/yes.png" class="long-btn"> </label>
                    <label class="custom-control custom-radio wimg cst-ctrl">
                        <input id="vsrad2" name="visit_stat" type="radio" class="" value="1">
                        <img src="assets/images/no.png" class="long-btn"> </label>
                </div>

                <div class="col-md-12 qblock">
                    <label><span class="questions ">2. How Would You Rate <strong>Quality Of Our Food</strong>?</span>
                        <small id="validq1" class="form-control-feedback"></small>
                    </label>

                    <div class="form-group">
                        <div class="form-check">

                            <label class="custom-control custom-radio wimg cst-ctrl">
                                <input id="q1-1" name="q1" type="radio" class="" value="1">
                                <img src="assets/images/angry.png" class="smiley"> 
                            </label>

                            <label class="custom-control custom-radio wimg cst-ctrl">
                                <input id="q1-2" name="q1" type="radio" class="" value="2">
                                <img src="assets/images/confused.png" class="smiley"> 
                            </label>

                            <label class="custom-control custom-radio wimg cst-ctrl">
                                <input id="q1-3" name="q1" type="radio" class="" value="3">
                                <img src="assets/images/happy.png" class="smiley"> 
                            </label>

                            <label class="custom-control custom-radio wimg cst-ctrl">
                                <input id="q1-4" name="q1" type="radio" class="" value="4">
                                <img src="assets/images/veryhappy.png" class="smiley"> 
                            </label>

                        </div>
                    </div>
                </div>

                <div class="col-md-12 qblock">
                    <label><span class="questions ">3. How Would You Rate <strong>Speed of Service</strong>?</span>
                        <small id="validq2" class="form-control-feedback"></small>
                    </label>

                    <div class="form-group">
                        <div class="form-check">

                            <label class="custom-control custom-radio wimg cst-ctrl">
                                <input id="q2-1" name="q2" type="radio" class="" value="1">
                                <img src="assets/images/angry.png" class="smiley"> 
                            </label>

                            <label class="custom-control custom-radio wimg cst-ctrl">
                                <input id="q2-2" name="q2" type="radio" class="" value="2">
                                <img src="assets/images/confused.png" class="smiley"> 
                            </label>

                            <label class="custom-control custom-radio wimg cst-ctrl">
                                <input id="q2-3" name="q2" type="radio" class="" value="3">
                                <img src="assets/images/happy.png" class="smiley"> 
                            </label>

                            <label class="custom-control custom-radio wimg cst-ctrl">
                                <input id="q2-4" name="q2" type="radio" class="" value="4">
                                <img src="assets/images/veryhappy.png" class="smiley"> 
                            </label>

                        </div>
                    </div>
                </div>

                <div class="col-md-12 qblock">
                    <label><span class="questions ">4. How Would You Rate <strong>Our Hospitality</strong>?</span>
                        <small id="validq3" class="form-control-feedback"></small>
                    </label>

                    <div class="form-group">
                        <div class="form-check">

                            <label class="custom-control custom-radio wimg cst-ctrl">
                                <input id="q3-1" name="q3" type="radio" class="" value="1">
                                <img src="assets/images/angry.png" class="smiley"> 
                            </label>

                            <label class="custom-control custom-radio wimg cst-ctrl">
                                <input id="q3-2" name="q3" type="radio" class="" value="2">
                                <img src="assets/images/confused.png" class="smiley"> 
                            </label>

                            <label class="custom-control custom-radio wimg cst-ctrl">
                                <input id="q3-3" name="q3" type="radio" class="" value="3">
                                <img src="assets/images/happy.png" class="smiley"> 
                            </label>

                            <label class="custom-control custom-radio wimg cst-ctrl">
                                <input id="q3-4" name="q3" type="radio" class="" value="4">
                                <img src="assets/images/veryhappy.png" class="smiley"> 
                            </label>

                        </div>
                    </div>
                </div>

                <div class="col-md-12 qblock">
                    <label><span class="questions ">5. How Would You Rate <strong> The Hygiene </strong> ?</span>
                        <small id="validq4" class="form-control-feedback"></small>
                    </label>

                    <div class="form-group">
                        <div class="form-check">

                            <label class="custom-control custom-radio wimg cst-ctrl">
                                <input id="q4-1" name="q4" type="radio" class="" value="1">
                                <img src="assets/images/angry.png" class="smiley"> 
                            </label>

                            <label class="custom-control custom-radio wimg cst-ctrl">
                                <input id="q4-2" name="q4" type="radio" class="" value="2">
                                <img src="assets/images/confused.png" class="smiley"> 
                            </label>

                            <label class="custom-control custom-radio wimg cst-ctrl">
                                <input id="q4-3" name="q4" type="radio" class="" value="3">
                                <img src="assets/images/happy.png" class="smiley"> 
                            </label>

                            <label class="custom-control custom-radio wimg cst-ctrl">
                                <input id="q4-4" name="q4" type="radio" class="" value="4">
                                <img src="assets/images/veryhappy.png" class="smiley"> 
                            </label>

                        </div>
                    </div>
                </div>

                <div class="col-md-12 qblock">
                    <label><span class="questions">6. Overall, are you satisfied with Store ?</span>
                        <small id="validChoiceStat" class="form-control-feedback"></small>
                    </label>

                    <div class="clearfix"></div>

                    <label class="custom-control custom-radio wimg cst-ctrl">
                        <input id="rad1" name="choice_stat" type="radio" class="" value="1">
                        <img src="assets/images/like.png" class="smiley"> </label>

                    <label class="custom-control custom-radio wimg cst-ctrl">
                        <input id="rad2" name="choice_stat" type="radio" class="" value="0">
                        <img src="assets/images/dislike.png" class="smiley"> </label>
                </div>

                <div id="dvChoice" style="display: none;">
                    <div class="col-lg-10 col-md-12 qblock">
                        <div class="form-group">
                            <label> <span class="questions"> If not can you share the reason, so that we can improve to
                                    serve you better ? </span>
                                <small id="validChoice" class="form-control-feedback">
                                </small>
                            </label>
                            <textarea class="form-control" id="productChoice" name="choice" rows="3"
                                placeholder=""></textarea>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 qblock">
                    <label>
                        <span class="questions ">
                            7. Share your suggestions/ Recommendations / complaints / Concerns,
                            if any, for improving your shopping experience ?
                        </span>
                    </label>

                    <div class="demo-radio-button">
                        <input name="comment_group" type="radio" class="with-gap radio-col-red mr-1" id="Complaint"
                            value="Complaint">
                        <label for="Complaint">Complaint
                            <!-- <span class="malayalam">(à´ªà´°à´¾à´¤à´¿)</span> -->
                        </label> &nbsp;&nbsp;

                        <input name="comment_group" type="radio" id="Concern" class="with-gap radio-col-orange mr-1"
                            value="Concern">
                        <label for="Concern">Concern
                            <!-- <span class="malayalam">(à´†à´¶à´™àµà´•à´•àµ¾)</span> -->
                        </label> <br>

                        <input name="comment_group" type="radio" id="Suggestion" class="with-gap radio-col-green mr-1"
                            value="Suggestion">
                        <label for="Suggestion">Suggestion
                            <!-- <span class="malayalam">(à´¨à´¿àµ¼à´¦àµà´¦àµ‡à´¶à´™àµà´™àµ¾)</span> -->
                        </label> &nbsp;&nbsp;

                        <input name="comment_group" type="radio" id="Compliment" class="with-gap radio-col-light-green mr-1"
                            value="Compliment">
                        <label for="Compliment">Compliment
                            <!-- <span class="malayalam">(à´…à´¨àµà´®àµ‹à´¦à´¨à´‚)</span> -->
                        </label>

                        <small id="validCommentGroup" class="form-control-feedback"></small>

                    </div>

                    <div class="clearfix"></div>
                    <textarea class="form-control" id="clientComment" name="comment" rows="5"
                        placeholder="comments / questions /  concerns"></textarea>


                </div>


                <div class="clearfix"></div>



                <div class="col-sm-12 ">
                    <div class="form-group">
                        <label class="control-label">Name *
                            <small id="validName" class="form-control-feedback"></small>
                        </label>
                        <input type="text" name="name" id="clientName" class="form-control form-control-lg"
                            placeholder="Name" value="">
                    </div>
                </div>



                <div class="col-sm-12 ">
                    <div class="form-group">
                        <label class="control-label">Contact Number *
                            <small id="validContact" class="form-control-feedback"></small>
                        </label>
                        <input type="text" name="contact" id="clientContact"
                            class="form-control  numericValue form-control-lg" placeholder="Phone" value="">
                    </div>
                </div>



                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label">Email
                            <small id="validEmail" class="form-control-feedback">
                            </small>
                        </label>
                        <input type="email" name="email" id="clientEmail" class="form-control form-control-lg"
                            placeholder="Email" value="">
                    </div>

                </div>


                <div class="col-md-12 ">
                    <div class="text-center">

                        <button type="submit" name="save" class="btn w100 btn-round btn-warning mr-1 mb-2"
                            id="saveBtn"><strong>SUBMIT</strong></button>
                    </div>
                </div>



            </form>

            <div id="feedMsg" class="text-center" style="display: none;">&nbsp;</div>





        </div>
    </div>
</div>