<div class="sub-categories">
    <div class="row">
        <div class="col-sm-12">
            <h5 class="parent_cat ">
                {{arrSubCategory[0]?.strCategoryName}}
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="profile-navTabs">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" *ngFor="let value of arrSubCategory">
                        <a class="nav-link" id="all-tab" data-toggle="tab" href="#all" role="tab"
                            aria-controls="all" aria-selected="true" [ngClass]="{active: isActive(value)}" (click)="onSubCategoryChange(value?.pkCategoryId)">{{ value?.strName | titlecase}}</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" id="popular-tab" data-toggle="tab" href="#popular" role="tab"
                            aria-controls="popular" aria-selected="false">Wrap Sandwich</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="featured-tab" data-toggle="tab" href="#featured" role="tab"
                            aria-controls="featured" aria-selected="false">Combo Sandwich</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="burger-tab" data-toggle="tab" href="#burger" role="tab"
                            aria-controls="burger" aria-selected="false">Burger</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                    <!-- <app-subcategory-list></app-subcategory-list> -->
                    <div class="all-items">
                        <div class="row">
                            <div class="col-sm-6" *ngFor="let product of arrSubCategoryProducts">
                                <a data-id="36" class="showProductInfo" (click)="onClickNavigate(product)">
                                    <div class="item list-item-full  pl-0 pr-0">
                                        <figure class="mb-0"><img [src]="product?.arrayThumbnail[0]?.imageUrl" (error)="errorImage($event)"></figure>
                                        <div class="content-div"></div>
                                        <div class="bg-price price">
                                            <!-- AED -->
                                            <span>
                                                
                                                AED
                                                {{product?.intSellingPrice}}
                                            </span>
                                        </div>
                                    </div>
                                </a>
                                <h4 class="">
                                    {{product?.strProductName}}
                                </h4>
                                <del class="strike-color" *ngIf="product?.intMRP > product?.intSellingPrice">
                                    AED {{product?.intMRP}}
                                </del>
                            </div>
                        </div>
                    </div>
                    <div class="text-center no-item" *ngIf="!arrSubCategory.length || !arrSubCategoryProducts.length">
                        <i class="ti-face-sad"></i>
                        <br>
                        No Item Found
                        <br>
                        With This Specification!
                    </div>
                </div>
                <!-- <div class="tab-pane fade" id="popular" role="tabpanel" aria-labelledby="popular-tab">
                    <app-subcategory-list></app-subcategory-list>
                </div>
                <div class="tab-pane fade" id="featured" role="tabpanel" aria-labelledby="featured-tab">
                    <app-subcategory-list></app-subcategory-list>
                </div>
                <div class="tab-pane fade" id="burger" role="tabpanel" aria-labelledby="burger-tab">
                    <app-subcategory-list></app-subcategory-list>
                </div> -->
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(213,208,208,0.8)" size="medium" color="#fff">Loading...</ngx-spinner>