<div class="modal-header fixed-top">
    <h5 class="modal-title" id="exampleModalLongTitle">
        <b>Checkout</b>
    </h5>
    <a href="/home" class="more-btn blackbtn">
        <i class="ti-arrow-left"></i>
        back to home
    </a>
</div>
<div class="checkout-body">
    <div class="app-body single-item p-0 mt-50 form-wrap">
        <div class="col-sm-12">
            <div class="text-left pos-top">
                <!-- <h4 class="titleText text-left mt-4 mb-2 text-center"><strong>My Cart</strong></h4> -->
            </div>
            <div class="">
                <div class="pt-4">
                    <div class="bs-stepper modal-safety-padding linear">
                        <div class="bs-stepper-header" role="tablist">
                            <!-- your steps here -->
                            <div class="step active" data-target="#logins-part">
                                <button type="button" class="step-trigger" role="tab" aria-controls="logins-part"
                                    id="logins-part-trigger" aria-selected="true">
                                    <span class="bs-stepper-circle">1</span>
                                    <!--     <span class="bs-stepper-label" >Cart</span> -->
                                </button>
                            </div>
                            <div class="line"></div>
                            <div class="step" data-target="#coupon-part">
                                <button type="button" class="step-trigger" role="tab" aria-controls="coupon-part"
                                    id="coupon-part-trigger" aria-selected="false" disabled="disabled">
                                    <span class="bs-stepper-circle">2</span>
                                    <!--  <span class="bs-stepper-label">Confirm </span> -->
                                </button>
                            </div>
                            <div class="line"></div>
                            <div class="step" data-target="#information-part">
                                <button type="button" class="step-trigger" role="tab" aria-controls="information-part"
                                    id="information-part-trigger" aria-selected="false" disabled="disabled">
                                    <span class="bs-stepper-circle">3</span>
                                    <!-- <span class="bs-stepper-label">Checkout </span> -->
                                </button>
                            </div>
                            <div class="line"></div>
                            <div class="step" data-target="#final">
                                <button type="button" class="step-trigger" role="tab" aria-controls="final"
                                    id="final-trigger" aria-selected="false" disabled="disabled">
                                    <span class="bs-stepper-circle"><i class="ti-check"></i></span>
                                    <!-- <span class="bs-stepper-circle">4</span> -->
                                    <!--   <span class="bs-stepper-label">Enjoy </span> -->
                                </button>
                            </div>
                        </div>
                        <div class="bs-stepper-content">
                            <app-cart></app-cart>
                            <!-- <app-order-summary></app-order-summary> -->
                            <!-- <app-order-place></app-order-place> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>