.effect-airbnb .main-wrapper {
  background: #fff;
  min-height: 100%;
  position: relative;
  outline: 1px solid rgba(0, 0, 0, 0);
  z-index: 10;
  // -webkit-transform: translateZ(0) translateX(0) rotateY(0deg);
  // transform: translateZ(0) translateX(0) rotateY(0deg);
}
.effect-airbnb.animate .main-wrapper {
  // -webkit-transform: translateZ(-500px) translateX(100%) rotateY(-45deg);
  // transform: translateZ(-500px) translateX(50%) rotateY(-45deg);
  overflow-y: hidden;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
}

.effect-airbnb .main-wrapper {
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.modalview .main-wrapper {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.perspective {
  background: linear-gradient(180deg, #ff000a 0%, #ff5722 100%);
  position: relative;
}
.perspective.modalview {
  position: fixed;
  -webkit-perspective: 1500px;
  perspective: 1500px;
}

.effect-airbnb .main-wrapper {
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.effect-airbnb .main-wrapper {
  background: #fff;
  min-height: 100%;
  position: absolute;
  outline: 1px solid rgba(0, 0, 0, 0);
  z-index: 10;
  -webkit-transform: translateZ(0) translateX(0) rotateY(0deg);
  transform: translateZ(0) translateX(0) rotateY(0deg);
}
.main-wrapper {
  flex-direction: column;
  display: flex;
  font-family: Montserrat, sans-serif;
}
.main-wrapper .main-content {
  order: 1;
  position: relative;
  height: calc(100vh - 10px);
  overflow-x: hidden;
  overflow-y: auto;
}
#desktop-view {
  background: rgba(41, 41, 41, 0.301);
}
#desktop-view img {
  vertical-align: middle;
  border-style: none;
}
.main-wrapper .main-content::-webkit-scrollbar {
  width: 8px !important;
  background-color: #f7f3ec;
}
.main-wrapper .main-content::-webkit-scrollbar-thumb {
  background-color:#D9531E !important;
  width: 8px !important;
  border-radius: 10px;
}
// ::ng-deep .modal {
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 1050;
//   // display: none;
//   width: 100%;
//   height: 100%;
//   // overflow: hidden;
//   outline: 0;
// }
// ::ng-deep .fade {
//   transition: opacity 0.15s linear;
// }
// ::ng-deep .modal.show .modal-dialog {
//   transform: none;
// }
// ::ng-deep .modal.fade .modal-dialog {
//   transition: transform 0.3s ease-out;
//   // transform: translate(0, -50px);
// }
// ::ng-deep .modal-dialog {
//   position: relative;
//   width: auto;
//   margin: 0 !important;
//   pointer-events: none;
//   height: auto;
//   min-height: 100%;
//   background: #fff;
// }
// ::ng-deep .modal-dialog .modal-content {
//   max-width: 100%;
//   margin: auto;
//   height: auto;
//   min-height: 100%;
//   overflow: auto;
//   border: 0;
//   border-radius: 0px !important;
//   /* padding-top: 56px; */
// }
// ::ng-deep .modal-dialog .modal-content::-webkit-scrollbar {
//   width: 8px !important;
//   background-color: #f7f3ec;
// }
// ::ng-deep .modal-dialog .modal-content::-webkit-scrollbar-thumb {
//   background-color:#D9531E !important;
//   width: 8px !important;
//   border-radius: 10px;
// }
// ::ng-deep .modal-content {
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   // height: 100%;
//   pointer-events: auto;
//   background-color: transparent;
//   background-clip: padding-box;
//   // border: 1px solid rgba(0, 0, 0, 0.2);
//   // border-radius: 0.3rem;
//   outline: 0;
// }
// ::ng-deep .modal-body {
//   position: relative;
//   flex: 1 1 auto;
//   padding: 0;
//   // margin-top: 56px;
// }
// @media screen and (min-width: 1000px) {
//   .modal-dialog {
//     min-width: 500px;
//     max-width: 500px;
//   }
// }
.fullpage:not(.bd-example-modal-lg) .modal-dialog .modal-content {
  max-width: 100%;
  margin: auto;
  max-height: 100%;
  overflow: auto;
  border: 0;
  border-radius: 0px !important;
  /* padding-top: 56px; */
}
@media screen and (min-width: 1000px) {
  .mob-container {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 500px !important;
    // position: relative;
    // margin-right: 0 auto;
    box-shadow: 4px 0px 18px 4px #8e8822;
  }
  #desktop-view {
    width: 100%;
    height: 100vh;
    z-index: 1;
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-left: 1px transparent solid;
    background-color: #ffffff;
  }
}

.card {
  box-shadow: 0 8px 30px rgb(0 0 0 / 15%);
  border: 0;
}
h2{
  font-size: 22px;
  line-height: 1.3;
  font-weight: 700;
  color: #000;
  text-transform: capitalize;
}
h2.grand-total{
  font-size: 20px;
  line-height: 1.3;
  font-weight: 700;
  color: rgb(26, 131, 0);
  text-transform: capitalize;
}
.chat-list {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  padding-right: 6px;
  margin-bottom: 0;
}
.chat-list .chat-list-item figure {
  width: 70px;
  border-radius: 10px;
  overflow: hidden;
}
.chat-list .chat-list-item figure img {
  width: 100%;
}
.chat-list .chat-list-item:first-child {
  border-top: 2px solid #ccc;
}
.chat-list .chat-list-item {
  padding: 8px 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.chat-list .chat-list-item.numb-1 {
  border-bottom: none;
  padding: 0px 0px;
}
.chat-list .chat-list-item .list-body .img-desc {
  display: flex;
  flex-wrap: nowrap;
}
.chat-list .chat-list-item .list-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.chat-list .chat-list-item .list-body {
  display: flex;
  justify-content: space-between;
}
.chat-list .chat-list-item .list-body div:first-child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  //   -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  // -ms-flex-direction: column;
  // flex-direction: column;
  -webkit-box-flex: 1;
  //   -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.chat-list .chat-list-item .list-body div .price-section {
  font-size: 14px;
  font-weight: 700;
}
.chat-list .chat-list-item .list-body h3 {
  font-size: 15px;
  color: #0c0c0d;
  font-weight: 600;
  line-height: 1.5;
  padding-right: 15px;
}
.chat-list .chat-list-item .list-body .list-action-free h3 {
  font-size: 15px;
  color: #14752a;
  font-weight: 600;
  line-height: 1.5;
  padding-right: 15px;
}
.chat-list .chat-list-item .list-body p {
  font-size: 12px;
  font-weight: 400;
  color: #858585;
  margin-bottom: 7px;
  display: inline-block;
}
.fail {
  color: red !important;
}
.btn i {
  width: auto !important;
  background-color: transparent !important;
  height: auto !important;
  line-height: 1 !important;
  position: relative;
  top: 2px;
}
.addCoupon {
  text-transform: capitalize;
}
.chat-list .chat-list-item:last-child {
  border-bottom: none;
}
.btn {
  font-size: 13px;
  font-weight: 400;
  padding: 8px 20px;
  text-transform: capitalize;
}
.fixed-cta-btn {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  margin-top: 25px;
}
.fixed-cta-btn .btn-success {
  background-color: rgb(40, 167, 69);
  margin: 0;
  /* padding: 14px 30px; */
  font-size: 17px;
}
.fixed-cta-btn .btn {
  border-radius: 15px !important;
}
@media screen and (min-width: 1000px) {
  .fixed-cta-btn {
    max-width: 500px;
  }
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99999;
  background: #fff;
}
.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}
.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

h5 {
  font-size: 17px;
  font-weight: 400;
}
.blackbtn {
  color: #333;
}
a:hover {
  outline: none;
  text-decoration: none;
}
.checkout-body {
  position: relative;
  flex: 1 1 auto;
  padding: 0;
  margin-top: 46px;
}

//stepper

.modal-safety-padding {
  padding-bottom: 40px;
  min-height: 600px;
}
.active .bs-stepper-circle {
  background-color: #4caf50 !important;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
.bs-stepper h4 {
  font-size: 15px;
}
.bs-stepper p {
  font-size: 12px;
  line-height: 22px;
  color: #aaa;
}
p {
  font-size: 14px;
  color: #444;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 26px;
}

@media screen and (min-width: 1000px) {
  .fixed-top {
    max-width: 500px;
  }
}
