<div class="top-banner mb2 single-item">
    <!-- <ngb-carousel>
        <ng-template ngbSlide class="carouselImg" *ngFor="let topBanImg of arrayOfTopBannerImages">
            <img [src]="topBanImg?.strImageUrl" alt="first slide" class="d-block img-fluid pointer" (error)="errorImage($event)"/>
        </ng-template>
    </ngb-carousel> -->.
    <div class="card" style="margin-left: 20px;margin-right: 20px;">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body" style="background-color: burlywood;">
            <h5 class="card-title">Budget</h5>
          <h5 class="card-title">₹ 5900</h5>
          <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
        </div>
        <div class="card-footer">
          <small class="text-muted">Total Rs 50155</small>
        </div>
    </div>
</div>

<!-- <div class="top-banner mb2 single-item mt-2">
    <ngb-carousel>
        <ng-template ngbSlide class="carouselImg">
            <img src="assets/images/banner.jpg" alt="first slide" class="d-block img-fluid pointer" />
        </ng-template>
    </ngb-carousel>
</div> -->