<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card card-margin" > 
                <div class="card-body pt-0" style="margin-top: 15px;">
                    <div class="widget-49">
                        <h5 class="m-b-0"><span class="f-right">₹ 56400</span></h5>
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-primary">
                                <img class="logoUser" src="../../../../assets/images/User-Profile.png" href="#allItems">
                        
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">Jhon thomas</span>
                                <span class="widget-49-meeting-time">12:00 to 13.30 Hrs</span>
                                <span class="widget-49-meeting-time">Site ID: ST000</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card card-margin" > 
                <div class="card-body pt-0" style="margin-top: 15px;">
                    <div class="widget-49">
                        <h5 class="m-b-0"><span class="f-right">₹ 87400</span></h5>
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-primary">
                                <img class="logoUser" src="../../../../assets/images/User-Profile.png" href="#allItems">
                        
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">arum</span>
                                <span class="widget-49-meeting-time">12:00 to 13.30 Hrs</span>
                                <span class="widget-49-meeting-time">Site ID: ST001</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card card-margin" > 
                <div class="card-body pt-0" style="margin-top: 15px;">
                    <div class="widget-49">
                        <h5 class="m-b-0"><span class="f-right">₹ 12450</span></h5>
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-primary">
                                <img class="logoUser" src="../../../../assets/images/User-Profile.png" href="#allItems">
                        
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">nobel</span>
                                <span class="widget-49-meeting-time">12:00 to 13.30 Hrs</span>
                                <span class="widget-49-meeting-time">Site ID: ST002</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card card-margin" > 
                <div class="card-body pt-0" style="margin-top: 15px;">
                    <div class="widget-49">
                        <h5 class="m-b-0"><span class="f-right">₹ 9500</span></h5>
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-primary">
                                <img class="logoUser" src="../../../../assets/images/User-Profile.png" href="#allItems">
                        
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">anil kumar</span>
                                <span class="widget-49-meeting-time">12:00 to 13.30 Hrs</span>
                                <span class="widget-49-meeting-time">Site ID: ST005</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card card-margin" > 
                <div class="card-body pt-0" style="margin-top: 15px;">
                    <div class="widget-49">
                        <h5 class="m-b-0"><span class="f-right">₹ 3580</span></h5>
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-primary">
                                <img class="logoUser" src="../../../../assets/images/User-Profile.png" href="#allItems">
                        
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">jawad rahman</span>
                                <span class="widget-49-meeting-time">12:00 to 13.30 Hrs</span>
                                <span class="widget-49-meeting-time">Site ID: ST006</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>