<!-- <div class="main-list">
    <div class="row">
        <div class="col-sm-12 py-2 mx-2">
            <div class="profile-navTabs">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="allItems-tab" data-toggle="tab" href="#allItems" role="tab"
                            aria-controls="allItems" aria-selected="true">All Items</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="popular-tab" data-toggle="tab" href="#popular" role="tab"
                            aria-controls="popular" aria-selected="false">Popular</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="featured-tab" data-toggle="tab" href="#featured" role="tab"
                            aria-controls="featured" aria-selected="false">Featured</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="allItems" role="tabpanel" aria-labelledby="allItems-tab">
                    <app-all-items></app-all-items>
                </div>
                <div class="tab-pane fade" id="popular" role="tabpanel" aria-labelledby="popular-tab">
                    <app-popular></app-popular>
                </div>
                <div class="tab-pane fade" id="featured" role="tabpanel" aria-labelledby="featured-tab">
                    <app-featured></app-featured>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img class="" src="http://via.placeholder.com/300x180" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <!-- <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div> -->
            </div>
        </div>
    </div>
</div>