<div class="all-items">
    <!-- <div class="row">
        <div class="col-sm-12">
            <h5 class="parent_cat ">
                Sandwich
            </h5>
        </div>
    </div> -->
    <div class="row">
        <div class="col-sm-6">
            <a data-id="36" class="showProductInfo">
                <div class="item list-item-full  pl-0 pr-0">
                    <figure class="mb-0"><img src="assets/images/thumb_TIJARA10380224022022.jpg"></figure>
                    <div class="content-div"></div>
                    <div class="bg-price price">
                        AED
                        <span>
                            <del class="red-color">
                                50
                            </del>
                            <small>AED </small>
                            35
                        </span>
                    </div>
                </div>
            </a>
            <h4 class="">
                Special Falooda
            </h4>
        </div>
        <!-- <div class="col-sm-6">
            <a data-id="36" class="showProductInfo">
                <div class="item list-item-full  pl-0 pr-0">
                    <figure class="mb-0"><img src="assets/images/thumb_TIJARA10365824022022.jpg"></figure>
                    <div class="content-div"></div>
                    <div class="bg-price price">
                        AED
                        <span>
                            <del class="red-color">
                                20
                            </del>
                            <small>AED </small>
                            27
                        </span>
                    </div>
                </div>
            </a>
            <h4 class="">
                Avocado Milk Shake
            </h4>
        </div>
        <div class="col-sm-6">
            <a data-id="36" class="showProductInfo">
                <div class="item list-item-full  pl-0 pr-0">
                    <figure class="mb-0"><img src="assets/images/thumb_TIJARA10360824022022.jpg"></figure>
                    <div class="content-div"></div>
                    <div class="bg-price price">
                        AED
                        <span>
                            <del class="red-color">
                                37
                            </del>
                            <small>AED </small>
                            40
                        </span>
                    </div>
                </div>
            </a>
            <h4 class="">
                Mango Blend
            </h4>
        </div>
        <div class="col-sm-6">
            <a data-id="36" class="showProductInfo">
                <div class="item list-item-full  pl-0 pr-0">
                    <figure class="mb-0"><img src="assets/images/thumb_TIJARA10351024022022.jpg"></figure>
                    <div class="content-div"></div>
                    <div class="bg-price price">
                        AED
                        <span>
                            <del class="red-color">
                                40
                            </del>
                            <small>AED </small>
                            45
                        </span>
                    </div>
                </div>
            </a>
            <h4 class="">
                Special Sandwich
            </h4>
        </div> -->
    </div>
</div>